/* 팝업 기본 스타일 */
#klipPopup {
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 50%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #aaa;
    z-index: 1001;
    overflow: auto;
    text-align: center; /* 중앙 정렬 추가 */
    font-family: 'Mulish', sans-serif; /* 폰트 적용 */
}

#qrcode {
    position: absolute;
    left: 55%;
    top: 60%;
    transform: translateX(-50%);
    width: 200px; /* or whatever width you want */
    height: 200px; /* or whatever height you want, make sure it's square for a QR code */
    /* Rest of your styles */
}

.close-btn {
    position: absolute;
    right: 10px;
    bottom: 10px; /* 이전에 설정된 위치 */
    cursor: pointer;
    font-size: 16px; /* 텍스트 크기 조절 */
    color: #999;
    padding: 5px 10px; /* 버튼의 크기를 조절하기 위해 패딩 추가 */
    border: 1px solid #ccc; /* 버튼 테두리 추가 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    background-color: #f5f5f5; /* 버튼 배경색 */
}

.close-btn:hover {
    color: #333;
    background-color: #e5e5e5; /* 호버 시의 배경색 변경 */
}

/* 닉네임 입력 필드 스타일 */
.nickname-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

#nickname, #checkNickname {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s;
}

#nickname:focus, #checkNickname:focus {
    border: 1px solid #007BFF;
    outline: none;
}

#checkNickname {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
}

#checkNickname:hover {
    background-color: #0056b3;
}

#nicknameStatus {
    font-size: 12px;
}

#generateQR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}


#generateQR:hover {
    background-color: #34495e;
}

/* 모바일 환경 스타일 */
@media screen and (max-width: 768px) {
    .nickname-input {
        margin-top: 30px; /* 모바일 환경에서의 상단 여백 추가 */
    }

    #klipPopup {
        top: 20%;
        left: 10%;
        width: 80%;
        height: 50%;
    }
}

/* 추가/수정 스타일 */
#walletTable {
    color: #ffffff; /* 글자색을 하얗게 */
    font-size: 14px; /* 글자 크기 줄임 */
    text-align: left; /* 글자를 중앙 정렬 */
    list-style-type: decimal; /* 순서를 붙임 */
}

/* 팝업 기본 스타일 */
#meetupPopup {
    position: fixed;
    top: 20px;
    left: 35%;
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #aaa;
    z-index: 1001;
    overflow: auto;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

.meetup-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

#organizerNickname, #meetupName, #meetupDate, #meetupTime, #meetupLocationName, #meetupLocationUrl, #meetupCapacity, #meetupPrice {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s;
}

#organizerNickname:focus, #meetupName:focus, #meetupDate:focus, #meetupTime:focus, #meetupLocationName:focus, #meetupLocationUrl:focus, #meetupCapacity:focus, #meetupPrice:focus {
    border: 1px solid #007BFF;
    outline: none;
}

#addMeetup {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#addMeetup:hover {
    background-color: #0056b3;
}


/* 모바일 환경 스타일 */
@media screen and (max-width: 768px) {
    #meetupPopup {
        top: 20%;
        left: 10%;
        width: 80%;
        height: 70%;
    }
}


