# Spring Boot 민감한 설정 파일
src/main/resources/application.properties
src/main/resources/oauth_config.txt

# Project exclude paths
/out/
/target/

# Environment Variables
.env

# IDE files
.idea/
*.iml

# Compiled files
*.class
*.jar
*.war

# Logs
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties