<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.BlogTitleDTO" alias="blogtitle"/>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.MeetupDTO" alias="meetup"/>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.UserWalletDTO" alias="userwallet"/>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.UserDTO" alias="user"/>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.ImageGalleryDTO" alias="imagegallery"/>
        <typeAlias type="com.bsbmanagement.snsautobot.dto.LicenseKeyDTO" alias="licensekey"/>
    </typeAliases>
</configuration>