<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Blogtitle">
    <insert id="save" parameterType="blogtitle">
        INSERT INTO blog_title (title_subject,title,CRTDATE,UPDTDATE,DELDATE,DEL_FLAG)
        VALUES (#{title_subject},#{title},SYSDATE(),SYSDATE(),NULL,NULL)
    </insert>
</mapper>











