<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ImageGallery">
    <insert id="save" parameterType="imagegallery">
        INSERT INTO image_gallery (crt_id, img_url, prompt)
        VALUES (#{crt_id}, #{img_url}, #{prompt})
    </insert>

    <select id="findById" resultType="imagegallery">
        SELECT * FROM image_gallery WHERE img_id = #{imgId}
    </select>

    <select id="findLatestImage" resultType="imagegallery">
        SELECT * FROM image_gallery ORDER BY crt_date DESC LIMIT 1
    </select>

    <select id="findAllOrderedByIdDesc" resultType="imagegallery">
        SELECT * FROM image_gallery ORDER BY img_id DESC
    </select>
    <!-- 여기에 추가적으로 필요한 SQL 쿼리들을 정의합니다. 예: findAll, findById 등 -->
</mapper>